/* This is purely for the demo */
.container {
  max-width: 800px;
  margin: 0 auto;
}
.plyr {
  border-radius: 4px;
  margin-bottom: 15px;
}

/*-------------------*/
/*-   Well Resets   -*/
/*-------------------*/

/*List Number*/
.well div h3 {
  margin-top: 4px;
}

/*General*/
.well div {
  margin-top: -17px;
  height: 34px;
}

.well div.col-xs-7 {
  padding-top: 7px;
}