/* App Styles */


/*-------------------*/
/*-Bootstrap Resets -*/
/*-------------------*/

.container {
  margin: 10px 0;
}

.well {
  margin-bottom: 10px;
}

.well button {
  widows: inherit;
}

/*List Number*/
.well {
  padding-left: 0;
  padding-right: 0;
}

.well div h4 {
  margin-top: 7px;
}

/*General*/
.well div {
  margin-top: -17px;
  height: 34px;
}

.well div.col-xs-6 {
  padding-top: 7px;
}

.well div.col-xs-3 {
  padding-left: 0;
  padding-right: 0;
}